@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

button {
  all: unset;
  font-family: inherit;
  background-color: purple;
  color: #fff;
  border: 0.0625rem purple solid;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  padding: 1.25rem 1.875rem;
  overflow: hidden;
  margin: 0.625rem 0;
  position: relative;
  cursor: pointer;
}

button .circle {
  position: absolute;
  background-color: #fff;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-in-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
